USE [master]
GO
/****** Object:  Database [DAI-Pizzas]    Script Date: 5/4/2022 09:02:43 ******/
CREATE DATABASE [DAI-Pizzas]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DAI-Pizzas', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\DAI-Pizzas.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DAI-Pizzas_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\DAI-Pizzas_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DAI-Pizzas].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DAI-Pizzas]
GO
/****** Object:  User [Pizzas]    Script Date: 5/4/2022 09:02:43 ******/
CREATE USER [Pizzas] FOR LOGIN [Pizzas] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [alumno]    Script Date: 5/4/2022 09:02:43 ******/
CREATE USER [alumno] FOR LOGIN [alumno] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [Pizzas]
GO
/****** Object:  Table [dbo].[Pizzas]    Script Date: 5/4/2022 09:02:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pizzas](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](150) NULL,
	[LibreGluten] [bit] NULL,
	[Importe] [float] NULL,
	[Descripcion] [varchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Pizzas] ON 

INSERT [dbo].[Pizzas] ([Id], [Nombre], [LibreGluten], [Importe], [Descripcion]) VALUES (1, N'Pizza Muzzarella', 0, 800.5, N'Pizza con queso Muzzarella.')
INSERT [dbo].[Pizzas] ([Id], [Nombre], [LibreGluten], [Importe], [Descripcion]) VALUES (2, N'Pizza Fugazzeta', 1, 1000, N'Pizza con queso Muzzarella, tiene rica cebolla y te deja un aliento como para hacerle la permanente a tu pareja..')
INSERT [dbo].[Pizzas] ([Id], [Nombre], [LibreGluten], [Importe], [Descripcion]) VALUES (3, N'Pizza Carbonara', 1, 1540.5, N'Salsa carbonara: huevo, queso parmesano, sal y pimienta. Cebolla, bacon (kevin) y queso rallado por encima, ya que por debajo no se ve.')
SET IDENTITY_INSERT [dbo].[Pizzas] OFF
GO
/****** Object:  StoredProcedure [dbo].[sp_Create]    Script Date: 5/4/2022 09:02:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Create]
@Nombre varchar(50),
@LibreGluten bit,
@Importe float,
@Descripcion varchar(MAX)
AS
BEGIN
INSERT INTO Pizzas(Nombre,LibreGluten,Importe,Descripcion) 
VALUES (@Nombre,@LibreGluten,@Importe,@Descripcion)
END
GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteById]    Script Date: 5/4/2022 09:02:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_DeleteById]
@Id int
AS
BEGIN
DELETE FROM Pizzas 
WHERE Id=@Id
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetAll]    Script Date: 5/4/2022 09:02:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetAll]
AS
BEGIN
SELECT *
FROM Pizzas
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetByID]    Script Date: 5/4/2022 09:02:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetByID]
@IdPizza int
AS
BEGIN
SELECT * 
FROM Pizzas 
WHERE Id=@IdPizza
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Update]    Script Date: 5/4/2022 09:02:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Update]
@Nombre varchar(50),
@LibreGluten bit,
@Importe float,
@Descripcion varchar(MAX),
@Id int
AS
BEGIN
UPDATE Pizzas 
SET Nombre=@Nombre, LibreGluten=@LibreGluten, Importe=@Importe, Descripcion=@Descripcion 
WHERE Id=@Id
END
GO
USE [master]
GO
